# Arquivos de Build 
bin/
obj/

# Arquivos de cache
.vs/

# Arquivos especificos do user
*.user
*.suo
*.userosscache
*.sln.docstates

# Arquivos auto gerados
*.generated.cs

# Rider IDE
.idea/

# Arquivos de Logs
*.log

# Arquivos dos pacotes do NuGet 
*.nupkg
**/packages/*

 

# EF Core, precisa gerar para o build do docker-compose
#Migrations/

# Docker
docker-compose.override.yml

# Publish output
publish/

# User secrets (local secrets store)
secrets.json

# Resharper
_ReSharper*/

# DotCover
*.dotCover

# Others
*.vsix
*.dbmdl

# Mac system files
.DS_Store
